<div class="jumbotron">
	<h1>Share this with your friends!</h1>
	<p> Share on <%= link_to "Twitter", "http://twitter.com", class: "btn btn-primary btn" %><%= link_to "Facebook", "http://facebook.com", class: "btn btn-primary btn" %><p> 
</div>